/*
*
* Styles for On Tap admin pages
*
*/

.ot-admin {
    width: 100%;
    display: block;
    margin-top: 10px;
}

.ot-admin * {
    box-sizing: border-box;
}

.ot-section {
    margin-top: 20px;
}

.ot-admin__main-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ot-admin__heading {
    font-size: 20px;
}

.ot-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.ot-table__row {
    border-bottom: 1px solid #eaeaea;
}

.ot-table__head {
    text-align: left;
    padding: 8px 2px;
    font-size: 16px;
}

.ot-table__cell {
    text-align: left;
    font-size: 14px;
    padding: 6px 2px;
}

.ot-table__cell--buttons {
    text-align: right;
}

.ot-table__link {
    color: #1c43bd;
    text-decoration: none;
    transition: all 120ms linear;

    &:hover,
    &:focus,
    &:active {
        color: #0600bd;
        text-decoration: underline;
    }
}

.ot-table__status {

    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 8px;
        width: 8px;
        border-radius: 50%;
    }

    &--enabled {
        &:before {
            background: #00ad1b;
        }
    }

    &--disabled {
        &:before {
            background: #932931;
        }
    }
}

.ot-table__button {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    transition: background 120ms linear;
    color: #ffffff;
    padding: 5px 12px;
    margin: 0 1px;
    border-radius: 3px;

    &:hover,
    &:focus,
    &:active {
        color: #ffffff;
    }
}

.ot-table__button--edit {
    background: #008214;

    &:hover {
        background: #009218;
    }
}

.ot-admin__heading-description {
    margin-top: 5px;
}

.loc {
    padding: 20px 10px;
}

.loc__container {
    margin-top: 5px;
}

.loc__label {
    display: block;
    font-weight: 700;
    font-size: 14px;
}

.loc__input {
    box-shadow: none;
    border: 2px solid #eaeaea;
    background: #ffffff;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 2px;

    &:focus,
    &:active {
        border: 2px solid #d1d1d1;
    }
}

.loc__submit {
    margin-top: 20px;
    color: #ffffff;
    background: #004ff4;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    padding: 8px 14px;
    transition: background 120ms ease-in-out;

    &:hover,
    &:focus,
    &:active {
        background: #000af4;
    }
}

.loc__section-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}
