/*
*
* Styles for On Tap admin pages
*
*/

.ot-admin {
    width: 100%;
    display: block;
    margin-top: 10px;
}

.ot-admin * {
    box-sizing: border-box;
}

.ot-section {
    margin-top: 20px;
}

.ot-admin__main-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ot-admin__heading {
    font-size: 20px;
}

.ot-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.ot-table__row {
    padding: 6px 2px;
}
